.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.splash-container {
  height: 100vh;
  width: 100%;
  background-color: white; /* bebas diganti */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* overlay */
  top: 0;
  left: 0;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.8s ease;
}

.splash-container.fade-out {
  opacity: 0;
}

.splash-logo {
  height: 200px; /* kamu bisa ubah */
  animation: splashZoom 1s ease forwards;
}

@keyframes splashZoom {
  0% { transform: scale(0.8); opacity: 0.6; }
  100% { transform: scale(1); opacity: 1; }
}
.card-trans {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-trans:hover{
   transform: translateY(-10px);
  box-shadow: 0 .75rem 1.5rem rgba(0,0,0,.15);
}
